body{
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 60px;
}

h1{
    color: crimson;
    border: 12px dotted crimson;
    padding-left: 455px;
}

p{
    color: navy;
}
